{% extends "base.html" %}
{% load static %}
<!-- Page Content -->
<!-- Banner Starts Here -->
{% block title %}
    All Article Post
{% endblock %}
{% block contact %}
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4>Recent Posts</h4>
                            <h2>Our Recent Blog Entries</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Banner Ends Here -->

    <section class="blog-posts grid-system">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            <div class="col-lg-6">
                                {% for article in article %}
                                    <div class="blog-post">
                                        <div class="blog-thumb">
                                            <img src="{{ article.image.url }}" alt="">
                                        </div>
                                        <div class="down-content">
                                            <span>Lifestyle</span>
                                            <a href="post-details.html"><h4>{{ article.title }}</h4></a>
                                            <ul class="post-info">
                                                <li><a href="#">{{ article.author.get_full_name }}</a></li>
                                                <li><a href="#">{{ article.created }}</a></li>
                                                <li><a href="#">{{ article.comments.count }} Comment</a></li>
                                            </ul>
                                            <p>{{ article.body }}</p>
                                            <div class="post-options">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <ul class="post-tags">
                                                            <li><a style="font-size: large" href=""><i class="fa fa-heart-o"></i>2</a></li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                            <div class="col-lg-12">
                                {% if article.has_other_pages %}
                                    <ul class="page-numbers">
                                        {% if article.has_previous %}
                                            <li><a href="?page=





                                                    {{ article.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i
                                                    class="fa fa-angle-double-left"></i></a></li>
                                        {% endif %}


                                        {% for i in article.paginator.page_range %}
                                            {% if article.number == i %}
                                                <li class="active"><a href="?page=






                                                        {{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <a href="?page={{ i }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}


                                        {% if article.has_next %}
                                            <li><a href="?page=







                                                    {{ article.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i
                                                    class="fa fa-angle-double-right"></i></a></li>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="sidebar-item search">
                                    <form id="search_form" name="gs" method="GET" action="#">
                                        <input type="text" name="q" class="searchText" placeholder="type to search..."
                                               autocomplete="on">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item recent-posts">
                                    <div class="sidebar-heading">
                                        <h2>Recent Posts</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            {% for art in recent_article %}
                                                <li><a href="post-details.html">
                                                    <h5>{{ art.title }}</h5>
                                                    <span>{{ art.created }}</span>
                                                </a></li>
                                            {% endfor %}

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item categories">
                                    <div class="sidebar-heading">
                                        <h2>Categories</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            {% for cat in category %}
                                                <li>
                                                    <a href="{% url "blog:category_detail" cat.id %}">- {{ cat.title }}</a>
                                                </li>

                                            {% endfor %}


                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item tags">
                                    <div class="sidebar-heading">
                                        <h2>Tag Clouds</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li><a href="#">Lifestyle</a></li>
                                            <li><a href="#">Creative</a></li>
                                            <li><a href="#">HTML5</a></li>
                                            <li><a href="#">Inspiration</a></li>
                                            <li><a href="#">Motivation</a></li>
                                            <li><a href="#">PSD</a></li>
                                            <li><a href="#">Responsive</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

    
